*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(167, 175, 175);
}


.input-group,.btn-primary{
    margin-top: 20px;
}
